
* {
    font-family: Roboto;
}

* {
    box-sizing: border-box;
}

.background img {
        max-width:100%;
        max-height:100%;
        height: 100%;
        margin-bottom: -17px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;

}

.navigation {
    background-color: white;
    height:80px;
    padding-top: 35px;
    padding-bottom: 35px;

}

.menu {
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #2db7a0;
}

.menu ul {
    list-style-type: none;
    margin-top: -5px;
}

.menu li {
    font-style: initial;
    display: inline-block;
    margin: 0 20px;
}

.copy {
    font-style: initial;
    background-color: #f5f6f8;
    text-align: center;
    padding-bottom: 20px;
}
.copy h3 {
    font-style: initial;
    font-size: small;
    padding-bottom: 10px;
    padding-top: 22px;
}

.copy p {
    font-style: initial;
    font-size: small;
}

 .copy button {
     margin-top: 20px;
     margin-bottom: 30px;
     background-color: #2db7a0;
     border: none;
     border-radius: 4px;
     color: white;
     padding: 15px 25px;
     font-size: small;
     font-style: initial;

}
.footer {
    display: block;
    font-size: small;
}

